<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3" v-for="(movie, idx) in movies" :key="idx">
                <div class="card">
                    <div class="card-header">{{movie.name}}</div>
                    <a :href="'movie/'+movie.id" title=""><img src="https://placeholder.pics/svg/175/DEDEDE/555555/example" class="card-img-top" alt="..." max-width="175px"></a>
                    <div class="card-body">
                        <p>{{movie.overview}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                movies: [],
            }
            
        },
        created(){
            this.getMovies();
        },
        methods:{
          getMovies(){
            axios.get('/movies').then(res=>{
                console.log(res.data);
                this.movies = res.data;
            });
        }
        }

    }
</script>
