<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">{{movie.title}}</div>
                    <img src="" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p>{{movie.excerpt}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                movie: {
                    title:'',
                    excerpt:'',
                    id:'',
                    length:'',
                    year:''
                }

            }
            
        },
        mounted(){
            this.getMovies();
        },
        getMovies(){
            axios.get('/m/').then(res=>{
                console.log(res.data);
            });
        }

    }
</script>
