<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">{{seat.movie_title}}</div>

                    <div class="card-body">
                        {{seat.movie_excerpt}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                seat: {
                    movie_title:'',
                    movie_excerpt:'',
                    number:'',
                    salon:'',
                }

            }
            
        }
    }
</script>
