<template>
    <div class="container">
        <div class="row justify-content-center">
            
                <div class="card">
                  <!--<img src="" class="card-img-top" alt="...">-->
                  <div class="card-header bg-secondary text-light">Ticket {{ticket.id}}div>
                  <div class="card-body">
                    <h5 class="card-title">{{ticket.movie_title}}</h5>
                    <p class="card-text">{{ticket.movie_excerpt}}</p>
                    
                  </div>
                   <div class="card-body bg-secondary mt-3 ml-0" >
                       <a id="buy" href="#" class="btn btn-primary" @click="">Buy</a>
                       <a id="cancel" href="#" class="btn btn-warning ml-3 text-light" @click="">Cancel</a>
                    </div>
                </div>
        </div>
    </div>
  </div>
</template>

<script>
    export default {
        data() {
            return{
                ticket: {
                    movie_title:'',
                    movie_excerpt:'',
                    excerpt:'',
                    id:'',
                    length:''
                }

            }
            
        }
    }
</script>
